<!DOCTYPE html>
<html>
    <head>
      <title>Sākums</title>
        <link rel="stylesheet" href="css">
        <meta charset="utf8">
    </head>
    <body>
     <div class=galva>
      <a class="btn btn-success" role="button" href="{{ url_for('index') }}">index</a>
      <a class="btn btn-success" role="button" href="{{ url_for('lapa1') }}">index</a>
      <a class="btn btn-success" role="button" href="{{ url_for('lapa2') }}">index</a>
      <a class="btn btn-success" role="button" href="{{ url_for('lapa3') }}">index</a>
       
     </div>
     <h1>Atveras sākuma lapa</h1>
    </body>
</html>